<app-eheader></app-eheader>
<br>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="ed-tab" data-toggle="tab" href="#ed" role="tab" aria-controls="ed" aria-selected="true">Employee Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="wpd-tab" data-toggle="tab" href="#wpd" role="tab" aria-controls="wpd" aria-selected="false">Work Permit Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pd-tab" data-toggle="tab" href="#pd" role="tab" aria-controls="pd" aria-selected="false">Passport Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="fd-tab" data-toggle="tab" href="#fd" role="tab" aria-controls="fd" aria-selected="false">Family Details</a>
  </li>
</ul>
<div *ngIf="isValidEr">
  <span id="errMsg" style="color:red">Error in calling Service</span>
</div>
<div *ngIf="isValidSu">
  <span id="sucMsg" style="color:green">Successfully saved all your data !!</span>
</div>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="ed" role="tabpanel" aria-labelledby="ed-tab"><div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationDefault01">First name *</label>
      <input type="text" class="form-control" id="validationDefault01" [(ngModel)]= "empDet.employeeDetailsRequestDto.firstName" value="" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault02">Last name *</label>
      <input type="text" class="form-control" id="validationDefault02" value="" [(ngModel)]= "empDet.employeeDetailsRequestDto.lastName" required>
    </div>

  </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationDefault03">Email *</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend2">@</span>
          </div>
          <input type="text" class="form-control" id="validationDefault03" [(ngModel)]= "empDet.employeeDetailsRequestDto.emailId" aria-describedby="inputGroupPrepend2" required>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefault04">Date of Birth *</label>
        <input class="datepicker" data-date-format="yyyy/mm/dd" class="form-control" id="validationDefault04" value="" [(ngModel)]= "empDet.employeeDetailsRequestDto.dateOfBirth" required>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationDefault05">Sex *</label>
        <select class="custom-select" id="validationDefault05" [(ngModel)]= "empDet.employeeDetailsRequestDto.sex" required>
          <option selected disabled value="">Choose...</option>
          <option value="m">Male</option>
          <option value="f">Female</option>
          <option value="o">Others</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationDefault06">Address 1 *</label>
        <input type="text" class="form-control" id="validationDefault06" value="" [(ngModel)]= "empDet.employeeDetailsRequestDto.addressLine1" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefault07">Address 2</label>
        <input type="text" class="form-control" id="validationDefault07" value="" [(ngModel)]= "empDet.employeeDetailsRequestDto.addressLine2" required>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationDefault08">City *</label>
        <input type="text" class="form-control" id="validationDefault08" [(ngModel)]= "empDet.employeeDetailsRequestDto.city" required>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault09">State *</label>
        <input type="text" class="form-control" id="validationDefault09" [(ngModel)]= "empDet.employeeDetailsRequestDto.state" required>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault10">Country *</label>
        <input type="text" class="form-control" id="validationDefault10" [(ngModel)]= "empDet.employeeDetailsRequestDto.country" required>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationDefault11">Mobile Number *</label>
        <input type="number" class="form-control" id="validationDefault11"  pattern=".{10,10}"  [(ngModel)]= "empDet.employeeDetailsRequestDto.contactNumber" required>
      </div>
    </div>
    <!--<div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
        <label class="form-check-label" for="invalidCheck2">
          Agree to terms and conditions
        </label>
      </div>
    </div>-->
  </div>
  <div class="tab-pane fade" id="wpd" role="tabpanel" aria-labelledby="wpd-tab"><div class="form-row">
    <div class="col-md-3 mb-3">
      <label for="validationDefault12">WP Number *</label>
      <input type="text" class="form-control" id="validationDefault12" required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationDefault13">WP Validity *</label>
      <input type="text" class="form-control" id="validationDefault13" required>
    </div>
  </div>
    <div>
      <label for="validationDefault14">WP Image </label>
      <button type="button" class="form-control" id="validationDefault14" class="btn btn-outline-warning">Upload</button>
    </div>
    <!--<div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
        <label class="form-check-label" for="invalidCheck2">
          Agree to terms and conditions
        </label>
      </div>
    </div>-->
  </div>
  <div class="tab-pane fade" id="pd" role="tabpanel" aria-labelledby="pd-tab">
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationDefault15">Passport Number *</label>
        <input type="text" class="form-control" id="validationDefault15" required [(ngModel)]= "emp.passportNumber">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationDefault16">Passport Start Date *</label>
        <input type="text" class="form-control" id="validationDefault16" required [(ngModel)]= "emp.startDate">
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault17">Passport End Date *</label>
        <input type="text" class="form-control" id="validationDefault17" required [(ngModel)]= "emp.endDate">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationDefault18">Issued at *</label>
        <input type="text" class="form-control" id="validationDefault18" required required [(ngModel)]= "emp.issuePlace">
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="fd" role="tabpanel" aria-labelledby="fd-tab">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationDefault19">First name *</label>
        <input type="text" class="form-control" id="validationDefault19" value="" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefault20">Last name *</label>
        <input type="text" class="form-control" id="validationDefault20" value="" required>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationDefault21">Sex *</label>
        <select class="custom-select" id="validationDefault21" required>
          <option selected disabled value="">Choose...</option>
          <option>Male</option>
          <option>Female</option>
          <option>Others</option>
        </select>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault23">Relation *</label>
        <select class="custom-select" id="validationDefault23" required>
          <option selected disabled value="">Choose...</option>
          <option>Spouse</option>
          <option>Son</option>
          <option>Daughter</option>
        </select>
      </div>
    </div>
  </div>
</div>
<a id="saveDa" class="btn btn-primary" (click)="onSubmit()" style="margin:10px;">Save</a>
<a routerLink = "/employee" routerLinkActive="active" class="btn btn-secondary" style="margin:5px">Cancel</a>
