<app-eheader></app-eheader>
<br>
<div>
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="nav-item active">
    <a href="#1" aria-controls="1" role="tab" data-toggle="tab" class="nav-link">Employee Details</a>
  </li>
  <li role="presentation" class="nav-item">
    <a class="nav-link" href="#2" aria-controls="2" role="tab" data-toggle="tab">Work Permit Details</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" href="#3" aria-controls="3" role="tab" data-toggle="tab">Passport Details</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" href="#4" aria-controls="4" role="tab" data-toggle="tab">Family Details</a>
  </li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane" id="1">1</div>
  <div role="tabpanel" class="tab-pane" id="2">2</div>
  <div role="tabpanel" class="tab-pane" id="3">3</div>
  <div role="tabpanel" class="tab-pane" id="4">4</div>
</div>
</div>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#1" aria-controls="1" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#2" aria-controls="2" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#3" aria-controls="3" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#4" aria-controls="4" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="#5" aria-controls="5" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#6" aria-controls="6" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#7" aria-controls="7" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#8" aria-controls="8" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="1">1</div>
    <div role="tabpanel" class="tab-pane" id="2">2</div>
    <div role="tabpanel" class="tab-pane" id="3">3</div>
    <div role="tabpanel" class="tab-pane" id="4">4</div>
    <div role="tabpanel" class="tab-pane" id="5">5</div>
    <div role="tabpanel" class="tab-pane" id="6">6</div>
    <div role="tabpanel" class="tab-pane" id="7">7</div>
    <div role="tabpanel" class="tab-pane" id="8">8</div>
  </div>

</div>
