<app-eheader></app-eheader>

<div>
  PaySlips
</div>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">DocumentName</th>
    <th scope="col">Month</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><a href="#">Payslip</a></td>
    <td>April, 2020</td>
    <td><a href="#"><i class="fa fa-download"></i></a></td>
  </tr>
  <tr>
    <td><a href="#">Payslip</a></td>
    <td>May, 2020</td>
    <td><a href="#"><i class="fa fa-download"></i></a></td>
  </tr>
  <tr>
    <td><a href="#">Payslip</a></td>
    <td>June, 2020</td>
    <td><a href="#"><i class="fa fa-download"></i></a></td>
  </tr>
  </tbody>
</table>
<a routerLink = "/ehome" routerLinkActive="active" class="btn btn-secondary" style="margin:10px;">Back</a>
