<app-eheader></app-eheader>

<div>
  <a class="btn btn-link">Employee Details  <a href="#" (click)="!!download()" download="report.pdf"><i class="far fa-file-pdf"></i></a> Count: {{employees.length}}</a>
</div>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Name</th>
 <!--   <th scope="col">LastName</th>-->
    <th scope="col">UserId</th>
    <th scope="col">DateOfBirth</th>
    <th scope="col">Contact</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody *ngFor="let empResDet of employees">
  <tr>
    <td><a href="#" (click)="!!retrieve(empResDet.id)">{{empResDet.firstName}} {{empResDet.lastName}}</a></td>
    <!--<td>{{empResDet.lastName}}</td>-->
    <td>{{empResDet.emailId}}</td>
    <td>{{empResDet.dateOfBirth}}</td>
    <td>{{empResDet.contactNumber}}</td>
    <td><a href="#" (click)="!!delete(empResDet.emailId)"><span class="material-icons">
    delete
    </span></a></td>
  </tr>
  </tbody>
</table>
<a routerLink = "/ehome" routerLinkActive="active" class="btn btn-secondary" style="margin:10px;">Back</a>
<a routerLink = "/addemp" routerLinkActive="active" class="btn btn-primary" style="margin:10px;">Add An Employee</a>
