<app-eheader></app-eheader>
<h2>Employee Details</h2>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">FirstName</th>
    <th scope="col">LastName</th>
    <th scope="col">UserId</th>
    <th scope="col">DateOfBirth</th>
  </tr>
  </thead>
  <tbody *ngFor="let empResDet of employees">
  <tr>
    <th scope="row"><div class="custom-control custom-radio">
      <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
      <label class="custom-control-label" for="customRadio1"></label>
    </div></th>
    <td>{{empResDet.firstName}}</td>
    <td>{{empResDet.lastName}}</td>
    <td>{{empResDet.emailId}}</td>
    <td>{{empResDet.dateOfBirth}}</td>
  </tr>
  </tbody>
</table>
<a href="adminEmp.html" class="btn btn-primary">Modify An Employee</a>
<a routerLink = "/addemp" routerLinkActive="active" class="btn btn-primary">Add An Employee</a>
<a routerLink = "/ehome" routerLinkActive="active" class="btn btn-primary">Cancel</a>
