<app-eheader></app-eheader>
<h2>Employee Details</h2>
<div style="float:left">
  <a href="#" (click)="download()">EmployeeList</a>
</div>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Name</th>
 <!--   <th scope="col">LastName</th>-->
    <th scope="col">UserId</th>
    <th scope="col">DateOfBirth</th>
    <th scope="col">Contact</th>
  </tr>
  </thead>
  <tbody *ngFor="let empResDet of employees">
  <tr>
    <td><a href="#">{{empResDet.firstName}} {{empResDet.lastName}}</a></td>
    <!--<td>{{empResDet.lastName}}</td>-->
    <td>{{empResDet.emailId}}</td>
    <td>{{empResDet.dateOfBirth}}</td>
    <td>{{empResDet.contactNumber}}</td>
  </tr>
  </tbody>
</table>
<a routerLink = "/ehome" routerLinkActive="active" class="btn btn-secondary" style="margin:10px;">Back</a>
<a routerLink = "/addemp" routerLinkActive="active" class="btn btn-primary" style="margin:10px;">Add An Employee</a>
