<app-eheader></app-eheader>
<body class="text-center">
<section class="page-section" id="services">
  <div class="container">
    <h2 class="text-center mt-0">Change Password</h2>
    <hr class="divider my-4">
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <label for="pwdO" class="">Current Password*</label>
          <input type="password" id="pwdO" class="form-control" placeholder="Current Password" required autofocus>
        </div>
        <div class="mt-5">
          <label for="pwd" class="">New Password*</label>
          <input type="password" id="pwd" class="form-control" placeholder="New Password" required>
        </div>
        <div class="mt-5">
          <label for="pwdN" class="">Confirm New Password*</label>
          <input type="password" id="pwdN" class="form-control" placeholder="Confirm New Password" required>
        </div>
        <div class="mt-5">
          <div>
            <a id="save" class="btn btn-primary" style="margin:10px;">Save</a>
            <a routerLink = "/ehome" routerLinkActive="active" class="btn btn-secondary">Cancel</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

