<app-eheader></app-eheader>

<br>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="ed-tab" data-toggle="tab" href="#ed" role="tab" aria-controls="ed" aria-selected="true">Employee Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="wpd-tab" data-toggle="tab" href="#wpd" role="tab" aria-controls="wpd" aria-selected="false">Work Permit Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pd-tab" data-toggle="tab" href="#pd" role="tab" aria-controls="pd" aria-selected="false">Passport Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="fd-tab" data-toggle="tab" href="#fd" role="tab" aria-controls="fd" aria-selected="false">Family Details</a>
  </li>
</ul>

<div *ngIf="isValidEr">
  <span id="errMsg" style="color:red">Error in calling Service</span>
</div>
<div *ngIf="isValidSu">
  <span id="sucMsg" style="color:green">Successfully saved all your data !!</span>
</div>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="ed" role="tabpanel" aria-labelledby="ed-tab"><div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationDefault01">First name *</label>
      <input type="text" class="form-control" id="validationDefault01" [(ngModel)]= "addEmpReq.employeeDetails.firstName" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault02">Last name *</label>
      <input type="text" class="form-control" id="validationDefault02" [(ngModel)]= "addEmpReq.employeeDetails.lastName" required>
    </div>

  </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationDefault04">Date of Birth *</label>
        <input class="form-control" id="validationDefault04" type="date" placeholder="yyyy-MM-dd" min="1945-01-01" max="2019-12-31"  [(ngModel)]= "addEmpReq.employeeDetails.dateOfBirth" required />
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationDefault05">Sex *</label>
        <select class="custom-select" id="validationDefault05" [(ngModel)]= "addEmpReq.employeeDetails.sex" required>
          <option selected value="">Choose...</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
          <option value="O">Others</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationDefault06">Address 1 *</label>
        <input type="text" class="form-control" id="validationDefault06" [(ngModel)]= "addEmpReq.employeeDetails.addressLine1" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefault07">Address 2</label>
        <input type="text" class="form-control" id="validationDefault07" [(ngModel)]= "addEmpReq.employeeDetails.addressLine2" required>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationDefault08">City *</label>
        <input type="text" class="form-control" id="validationDefault08" [(ngModel)]= "addEmpReq.employeeDetails.city" required>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault09">State *</label>
        <input type="text" class="form-control" id="validationDefault09" [(ngModel)]= "addEmpReq.employeeDetails.state" required>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault10">Country *</label>
        <input type="text" class="form-control" id="validationDefault10" [(ngModel)]= "addEmpReq.employeeDetails.country" required>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationDefault11">Mobile Number *</label>
        <input type="number" class="form-control" id="validationDefault11"  [(ngModel)]= "addEmpReq.employeeDetails.contactNumber" pattern=".{10,10}" required>
      </div>
    </div>
    <!--<div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
        <label class="form-check-label" for="invalidCheck2">
          Agree to terms and conditions
        </label>
      </div>
    </div>-->
  </div>
  <div class="tab-pane fade" id="wpd" role="tabpanel" aria-labelledby="wpd-tab">
    {{imageError}}
    <div  *ngFor="let empWpd of addEmpReq.employeeDetails.workPermitDetails">
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationDefault12">Number *</label>
        <input type="text" class="form-control" id="validationDefault12" required [(ngModel)]= "empWpd.workPermitNumber">
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault13">Validity *</label>
        <input type="number" class="form-control" id="validationDefault13" required [(ngModel)]= "empWpd.validity">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationDefault24">Start Date *</label>
        <input class="form-control" id="validationDefault24" type="date" [(ngModel)]= "empWpd.startDate"
               placeholder="yyyy-MM-dd" min="2010-01-01" max="2100-12-31" required />
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault25">End Date *</label>
        <input class="form-control" id="validationDefault25" type="date" [(ngModel)]= "empWpd.endDate"
               placeholder="yyyy-MM-dd" min="2010-01-01" max="2100-12-31" required />
      </div>
    </div>
    <div>
      <label for="validationDefault14">WP Image: </label>
      <div class="file-field big">
        <i class="fas fa-cloud-upload-alt" aria-hidden="true"></i>
        <input type="file" class="" id="validationDefault14" (change)="onFileChange($event)">
      </div>
    </div>
  </div>
    <!--<div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
        <label class="form-check-label" for="invalidCheck2">
          Agree to terms and conditions
        </label>
      </div>
    </div>-->
  </div>
  <div class="tab-pane fade" id="pd" role="tabpanel" aria-labelledby="pd-tab">
    <div *ngFor="let empPass of addEmpReq.employeeDetails.passportDetails">
    <div class="form-row" >
      <div class="col-md-3 mb-3">
        <label for="validationDefault15">Passport Number *</label>
        <input type="text" class="form-control" id="validationDefault15" required [(ngModel)]= "empPass.passportNumber">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationDefault16">Issued On *</label>
        <input class="form-control" id="validationDefault16" type="date" [(ngModel)]= "empPass.startDate"
               placeholder="yyyy-MM-dd" min="2000-01-01" max="2100-12-31" required />
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault17">Expired On *</label>
        <input class="form-control" id="validationDefault17" type="date" [(ngModel)]= "empPass.endDate"
               placeholder="yyyy-MM-dd" min="2000-01-01" max="2100-12-31" required />
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationDefault">Birth Place *</label>
        <input type="text" class="form-control" id="validationDefault" required required >
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault18">Issued at *</label>
        <input type="text" class="form-control" id="validationDefault18" required  [(ngModel)]= "empPass.issuePlace">
      </div>
    </div>
  </div>
  </div>
  <div class="tab-pane fade" id="fd" role="tabpanel" aria-labelledby="fd-tab">
    <div  *ngFor="let empFd of addEmpReq.employeeDetails.familyDetails">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationDefault19">First name *</label>
        <input type="text" class="form-control" id="validationDefault19" [(ngModel)]= "empFd.firstName" required>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationDefault20">Last name *</label>
        <input type="text" class="form-control" id="validationDefault20" [(ngModel)]= "empFd.lastName" required>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 mb-3">
        <label for="validationDefault21">Contact Number </label>
        <input type="text" class="form-control" id="validationDefault21" [(ngModel)]= "empFd.contactNumber" required>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationDefault23">Relation *</label>
        <select class="custom-select" id="validationDefault23" [(ngModel)]= "empFd.relation" required>
          <option selected disabled value="">Choose...</option>
          <option value="1">Spouse</option>
          <option value="2">Son</option>
          <option value="3">Daughter</option>
        </select>
      </div>
    </div>
  </div>
</div>
</div>
  <a routerLink = "/ehome" routerLinkActive="active" class="btn btn-secondary" style="margin:5px">Cancel</a>
  <a id="saveDa" class="btn btn-primary" (click)="onSubmit()" style="margin:10px;">Save</a>
