<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="Loging.html" class="navbar-brand d-flex align-items-center">
        <strong>mProduct</strong>
      </a>
    </div>
  </div>
</header>
<body class="text-center">

<section class="page-section" id="services">
  <div class="container">
    <h2 class="text-center mt-0">Sign in</h2>
    <hr class="divider my-4">
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <label for="uname" class="">Email address</label>
          <input type="email" id="uname" class="form-control" placeholder="Email address" [(ngModel)]= "logon.userName" value="raj333921@gmail.com" required autofocus>
        </div>
        <div class="mt-5">
          <label for="pwd" class="">Password</label>
          <input type="password" id="pwd" class="form-control" placeholder="Password" [(ngModel)]= "logon.password" required value="Raj@333921">
        </div>
        <div class="mt-5">
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
        </div>
        <div class="mt-5">
          <a id="signin" class="btn btn-primary" (click)="onSubmit()">Sign In</a>
          <a routerLink = "/home" routerLinkActive="active" class="btn btn-primary">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</section>
