<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">mProduct</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto my-2 my-lg-0">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" routerLink = "/sign" routerLinkActive="active">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="Loging.html">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="signup.html" class="navbar-brand d-flex align-items-center">
        <strong>mProduct</strong>
      </a>
    </div>
  </div>
</header>-->
<section class="page-section " id="services">
  <div class="container">
    <h2 class="text-center mt-0">Sign Up</h2>
    <hr class="divider my-4">
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <label for="fName">First name *</label>
          <input type="text" class="form-control" id="fName" value="" required>
        </div>
        <div class="mt-5">
          <label for="lName">Last name *</label>
          <input type="text" class="form-control" id="lName" value="" required>
        </div>
        <div class="mt-5">
          <label for="cName">CompanyName *</label>
          <input type="text" class="form-control" id="cName" value="" required>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <label for="email">Email *</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend2">@</span>
            </div>
            <input type="text" class="form-control" id="email"  aria-describedby="inputGroupPrepend2" required>

          </div>
        </div>
        <div class="mt-5">

          <label for="city">City *</label>
          <input type="text" class="form-control" id="city" required>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <label for="pwd">Password *</label>
          <input type="password" class="form-control" id="pwd" required>
        </div>
        <div class="mt-5">
          <label for="country">Country *</label>
          <input type="text" class="form-control" id="country" required>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <label class="form-check-label" >
          </label>
        </div>
        <div class="mt-5">
          <label class="form-check-label" for="terms">
            <input class="form-check-input" type="checkbox" value="" id="terms" required>
            <label class="form-check-label" for="terms">
              Agree to terms and conditions
            </label>
          </label>
        </div>
        <div class="mt-5">

          <a class="btn btn-primary" id="signup" href="#">SignUp</a>
          <a href="index.html" class="btn btn-primary">Cancel</a>
        </div>

      </div>
    </div></div>
</section>

<!-- Footer -->
<footer class="bg-light py-5">
  <div class="container">
    <div class="small text-center text-muted">Copyright &copy; 2020 mProduct</div>
  </div>
</footer>
