<app-eheader></app-eheader>
<br>
<div class="container">
  <div class="row">
    <div class="card col-sm" style="width:25rem">
      <div class="card-body">
        <h5 class="card-title">Employee Details</h5>
        <p class="card-text">As an admin You can view/add/modify/delete employees from company </p>
        <a routerLink = "/employee" routerLinkActive="active" class="btn btn-primary">Consult</a>
      </div>
    </div>
    <div class="card col-sm" style="width: 25rem;">
      <div class="card-body">
        <h5 class="card-title">TimeSheets</h5>
        <p class="card-text">As an admin You can view/modify timesheets of an employee/s</p>
        <a href="timesheetAdmin.html" class="btn btn-primary">Consult</a>
      </div>
    </div>
    <div class="card col-sm" style="width: 25rem;">
      <div class="card-body">
        <h5 class="card-title">Documents</h5>
        <p class="card-text">As an admin You can view/modify documents of an employee/s</p>
        <a href="documents.html" class="btn btn-primary">Consult</a>
      </div>
    </div>
  </div>
</div>
