<app-eheader></app-eheader>
<br>
<div class="container">
  <div class="row">
    <div class="card col-sm" style="width:25%;margin:10px;" *ngIf="isValid">
      <div class="card-body">
        <h5 class="card-title">Employee Details</h5>
        <p class="card-text">As an admin You can view/add/modify/delete employees from company </p>
        <a routerLink = "/employee" routerLinkActive="active" class="btn btn-primary">Consult</a>
      </div>
    </div>
    <div class="card col-sm" style="width: 25%;margin:10px;" *ngIf="isValid">
      <div class="card-body">
        <h5 class="card-title">TimeSheets</h5>
        <p class="card-text">As an admin You can view/modify timesheets of an employee/s</p>
        <a routerLink = "/tsheet" routerLinkActive="active" class="btn btn-primary">Consult</a>
      </div>
    </div>
    <div class="card col-sm" style="width:25%;margin:10px;" *ngIf="isValid">
      <div class="card-body">
        <h5 class="card-title">Payslips</h5>
        <p class="card-text">As an admin You can view/modify/Upload documents of an employee/s</p>
        <a routerLink = "/payslips" routerLinkActive="active"  class="btn btn-primary">Consult</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card col-sm" style="width: 25%;margin:10px;" *ngIf="isValidE">
      <div class="card-body">
        <h5 class="card-title">TimeSheets</h5>
        <p class="card-text">As an employee You can View/Modify timesheets</p>
        <a routerLink = "/tesheet" routerLinkActive="active" class="btn btn-primary">Consult</a>
      </div>
    </div>
    <div class="card col-sm" style="width:25%;margin:10px;" *ngIf="isValidE">
      <div class="card-body">
        <h5 class="card-title">Payslips</h5>
        <p class="card-text">As an employee You can view payslip documents</p>
        <a routerLink = "/epay" routerLinkActive="active" class="btn btn-primary">Consult</a>
      </div>
    </div>
    <div class="card col-sm" style="width:25%;margin:10px;" *ngIf="isValidE">
      <div class="card-body">
        <h5 class="card-title">Expenses</h5>
        <p class="card-text">As an employee You can view/Upload documents for expenses</p>
        <a routerLink = "/empexp" routerLinkActive="active" class="btn btn-primary">Consult</a>
      </div>
    </div>
    <div class="card col-sm" style="width:25%;margin:10px;" *ngIf="isValid">
      <div class="card-body">
        <h5 class="card-title">Expenses</h5>
        <p class="card-text">As an Admin You can View/Upload/Approve documents for expenses</p>
        <a routerLink = "/aexp" routerLinkActive="active" class="btn btn-primary">Consult</a>
      </div>
    </div>
    <div class="card col-sm" style="width:25%;margin:10px;" *ngIf="isValid">
      <div class="card-body">
        <h5 class="card-title">Company Car</h5>
        <p class="card-text">As an Admin You can View/Upload/Approve documents for company Car</p>
        <a href="documents.html" class="btn btn-primary">Consult</a>
      </div>
    </div>
  </div>
</div>
